mat-grid-tile {
  background: lightblue;
}

mat-slider {
  width: 20%;
}

.container{
  position: absolute;
  width: 48%;
  left: 24%;
  top: 5px;
}

.live {
  background: red;
}

.row {
  margin-bottom: 1px;
}

.buttons {
  margin-bottom: 5px;
}
