.container{
  position: absolute;
  width: 80%;
  top: 5px;
}

.controll-panel {
  width: 40%;
  float: left;
}

.controll-panel-row {
  margin-bottom: 5px;
}

.board {
  width: 80%;
  position: absolute;
  margin-left: 40%;
}

.live {
  background: red;
}
.dead {
  background: lightblue;
}

td {
    width: 4px;
    height: 4px;
}
