<div class="container">
  <div class="controll-panel">
    <div class="controll-panel-row">
      <button mat-raised-button *ngIf="!isRunning" (click)="autoPlay()">Play</button>
      <button mat-raised-button *ngIf="isRunning" (click)="stopPlay()">Stop</button>
      <button mat-raised-button (click)="getNextGeneration()">Next</button>
      <span>Step count: {{stepCount}}</span>
    </div>
    <div class="controll-panel-row">
      <mat-form-field>
        <input matInput type="number" min="10" max="100" required value="{{boardSize}}" (input)="resizeBoard($event.target.value)" placeholder="Type board size (10-100)">
       </mat-form-field>
     </div>
    <div class="controll-panel-row">
       <mat-form-field> 
        <mat-select [(ngModel)]="selectedPattern" placeholder="Choose pattern" (change)="selectPattern()">
          <mat-optgroup *ngFor="let group of patterns" [label]="group.groupName">
            <mat-option *ngFor="let pattern of group.patterns" [value]="pattern">{{pattern.name}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="getPatterns()">Refresh patterns</button>
    </div>
    <div class="controll-panel-row">
      <button mat-raised-button (click)="savePatternDialog()">Save current state</button>
    </div>
  </div>
  <div class="board">
   <table>
      <tr *ngFor="let row of board; let rowIndex = index">
        <td *ngFor="let cell of row; let columnIndex = index" (click)="click(rowIndex,columnIndex)" [ngClass]="{'live': cell, 'dead': !cell}"></td>
      </tr>
   </table>

  </div>
</div>
